@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=McLaren&family=Mogra&family=Nosifer&family=Playwrite+IT+Moderna:wght@100..400&family=Rubik+Dirt&family=Shadows+Into+Light&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-black: #161722;
  --darkest-purple: #1f1229;
  --darker-purple: #2b1464;
  --light-purple: #613d8c;
  --lighter-purple: #cc77f9;
  --lightest-purple: #a999f4;
  --gold-brown: #806000;
  --cream-brown: #ffe79f;
}

#category-links {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#category-links > a {
  font-family: "Playwrite IT Moderna", cursive;
  font-size: 1.1em;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 499px) {
  body {
    margin: 0;
    background-color: var(--cream-brown);
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 5px;
    background-color: var(--cream-brown);
  }

  body::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-color: var(--gold-brown);
  }

  .sidebar-category-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: var(--gold-brown);
    transform: translateX(-100%);
    transition: 0.4s;
    z-index: 10;
  }
  .sidebar-displayer-menu {
    position: absolute;
    right: -40px;
    top: 0;
    background-color: var(--gold-brown);
    color: var(--cream-brown);
    font-size: 1.5em;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    z-index: 10;
  }

  .hide-sidebar {
    transform: translateX(0);
  }

  .menu-container {
    width: 100%;
    max-width: 490px;
    min-height: 120vh;
    background-color: var(--cream-brown);
    margin: 0 auto;
  }

  .sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sidebar-logo {
    width: 150px;
    display: block;
    margin: 20px auto;
  }

  .upper-part {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: var(--gold-brown);
    background-image: url("../../image/banner-latest-large.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
  }

  .overlay-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--gold-brown);
    opacity: 0.8;
  }

  .wave {
    z-index: 2;
  }

  .company-logo {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translate(-50%, -190%);
  }

  .lower-part {
    width: 100%;
    position: relative;
    padding: 10px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    justify-items: flex-start;
    align-items: flex-start; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-20px);
    z-index: 4;
  }

  .lower-part::after {
    content: "";
    top: 0;
    left: 49%;
    position: absolute;
    width: 1px;
    height: 120%;
    border-right: 3px dashed var(--gold-brown);
    transform: translate(-50%, -2%);
    z-index: 4;
    display: none;
  }

  .di-one {
    bottom: 20px;
    left: -10px;
  }

  .di-two {
    top: 0;
    right: 10px;
  }

  .di-three {
    bottom: 40px;
    right: -10px;
  }

  .di-four {
    top: -40px;
    left: 10px;
  }

  .dish-img {
    width: 130px;
    position: absolute;
    transform-origin: center center;
    animation: dishRotate 10s linear infinite;
  }

  @keyframes dishRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .banner-tagline {
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    color: var(--gold-brown);
    background-color: var(--cream-brown);
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 4px 30px;
    z-index: 5;
  }

  .dish-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
  }

  .dish-container-heading {
    padding: 4px;
    background-color: var(--gold-brown);
    color: var(--cream-brown);
    font-family: "Rubik Dirt", system-ui;
    font-size: 1.2em;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
  }

  .menu-item {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }

  .food-name-holder {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--gold-brown);
    font-family: "McLaren", sans-serif;
    text-align: left;
    max-width: 70%;
  }

  .food-price-holder {
    padding: 4px 0;
    font-size: 0.8em;
    width: 80px;
    color: var(--cream-brown);
    font-family: "McLaren", sans-serif;
    background-color: var(--gold-brown);
    margin: 0 10px;
    text-align: center;
    box-shadow: 3px 3px 1px #f39c12;
  }

  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    scale: 0.9;
  }

  .portion-name {
    padding: 4px 0;
    font-size: 0.8em;
    width: 80px;
    font-family: "McLaren", sans-serif;
    margin: 0 10px;
    text-align: center;
  }

  .client-cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--gold-brown);
    color: var(--cream-brown);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vibrate 2s infinite;
    animation-delay: 1s;
  }

  @keyframes vibrate {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(-2px, 2px);
    }
    50% {
      transform: translate(2px, -2px);
    }
    75% {
      transform: translate(-2px, 2px);
    }
    100% {
      transform: translate(0);
    }
  }

  .cart-item-counter {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--cream-brown);
    color: var(--gold-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--gold-brown);
    top: -8px;
    right: -8px;
  }

  .cart-table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: "Mclaren", sans-serif;
    font-size: 0.7em;
  }

  .cart-table > tbody > tr > td {
    padding: 5px 0;
  }

  .show-food-cart {
    display: flex;
    opacity: 1;
    transition: 0.5s;
  }

  .finalize-button {
    display: block;
    margin: 10px auto;
    background-color: var(--cream-brown);
    color: var(--gold-brown);
    padding: 4px 8px;
    border-radius: 4px;
  }

  .portion-name {
    padding: 4px 0;
    font-size: 0.8em;
    width: 80px;
    font-family: "McLaren", sans-serif;
    margin: 0 10px;
    text-align: center;
  }

  .client-cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--gold-brown);
    color: var(--cream-brown);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vibrate 2s infinite;
    animation-delay: 1s;
  }

  @keyframes vibrate {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(-2px, 2px);
    }
    50% {
      transform: translate(2px, -2px);
    }
    75% {
      transform: translate(-2px, 2px);
    }
    100% {
      transform: translate(0);
    }
  }

  .cart-item-counter {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--cream-brown);
    color: var(--gold-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--gold-brown);
    top: -8px;
    right: -8px;
  }

  .food-cart-holder {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 2px solid #161722;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    min-height: 300px;
    display: none;
    opacity: 0;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
  }

  .food-cart-heading {
    font-family: "Mclaren", sans-serif;
    font-size: 1.1em;
    color: black;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
  }

  .cart-table {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: "Mclaren", sans-serif;
    font-size: 0.7em;
  }

  .cart-table > tbody > tr > td {
    padding: 5px 0;
  }

  .show-food-cart {
    display: flex;
    opacity: 1;
    transition: 0.5s;
  }

  .finalize-button {
    display: block;
    margin: 10px auto;
    background-color: var(--cream-brown);
    color: var(--gold-brown);
    padding: 4px 8px;
    border-radius: 4px;
  }

  .decrement-btn,
  .increment-btn,
  .remove-btn {
    padding: 4px 4px;
    text-align: center;
  }

  .subcategory-heading {
    margin: 10px 0;
    font-family: monospace;
    font-style: italic;
    font-size: 1.5em;
    position: relative;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--gold-brown);
    text-underline-offset: 10px;
    width: 400px;
  }
}
